/* Fonts */

@font-face {
  font-family: "Avenir";
  src: url("../static/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("../static/fonts/AvenirLTStd-Book.otf");
}

* {
  font-family: "Avenir";
}

/* Général */

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Navbar */

nav.navbar a {
  text-decoration: none;
  font-weight: normal;
}

nav.navbar > ul {
  list-style: none;
}

nav.navbar ul li {
  display: block;
  width: 111px;
  margin-right: 20px;
  float: left;
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration-line: underline;
}

nav.navbar ul .subgroup {
  padding-left: 0px;
}

.navbar {
  background-color: #ffffff;
  height: 80px;
  margin-bottom: 0 !important;
}

.navbar-brand {
  padding: 0;
}
.container-navigation {
  margin-top: 10px;
}

#logo {
  height: 60px;
}

/* Home */

.headHome {
  height: 100%;
  background-image: url("../img/HeadHome.png");
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#welcomeWordsText h4 {
  font-family: "AvenirBook";
}

#welcomeWordsIcons {
  background-color: #57bbc6;
  height: 100;
}

.welcomeWords {
  height: 100%;
}

.shortStory {
  background-color: #414141;
  color: #ffffff;
  height: 270px;
}

#shortStoryContainer {
  height: 100%;
}

#storyImg {
  background-image: url("../img/storybg.png");
  background-size: cover;
  height: 265px;
  padding-top: 20px;
}

#storyImg p,
#storyImg h3,
#storyImg h4 {
  text-align: center !important;
}

#storyText p {
  text-align: justify !important;
}

#welcomeWordsText hr {
  border-top: 3px solid #414141;
}
/* Footer */
footer {
  height: 100%;
  background-color: #414141;
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 60px;
}

/* Login */

#imglogin,
#imgsignin {
  text-align: center;
  background-image: url("../img/loginSigninImg.jpg");
  background-size: cover;
  color: #ffffff;
  height: 100%;
  padding-top: 150px;
}

#loginImg,
#signinImg {
  height: 551px;
}

/* cv generator */
.wizard-container {
  padding-top: 100px;
  z-index: 3;
  margin-bottom: 120px;
}

/* candidates cv */

#candidatesCV,
#recruitersCV,
#candidatesPredictions {
  margin-top: 50px;
  padding-bottom: 70px;
}

#buttonLoginHome {
  background-color: #5cbcc5 !important;
  opacity: 1 !important;
  border: 0 !important;
  color: white !important;
  width: 200px !important;
  margin-top: 30px;
  margin-bottom: 50px;
}

#h2TextHome {
  margin-top: 50px;
  font-size: 31px;
}

#h2SendText {
  margin-top: 0px;
}

#welcomeWordsText {
  padding-left: 160px;
}
#welcomeWordsText p,
#shortStoryContainer p {
  text-align: justify;
  font-size: 13px;
  font-family: "Avenir";
}
#rowIcones {
  padding: 30px;
}

hr {
  height: 2px;
}

#annaAllonso {
  text-align: right;
  font-size: 12px;
  font-weight: 900;
}

#quote {
  text-align: center;
  font-size: 14px;
}

#fprFooter {
  height: 50px;
}

.login,
.signin {
  margin-top: 70px;
}

#btnLoginSignin {
  width: 100%;
  background-color: #5cbcc5;
  border: none;
  color: white;
  margin-top: 20px;
}

.login a,
.signin a {
  color: #000000;
  font-weight: 900;
}

#dateFormsLeft {
  padding-left: 0;
}

#dateFormsRight {
  padding-right: 0;
}

.longText {
  height: 130px;
}

#titleAllCandidates {
  font-size: 15px;
  text-align: center;
}

#candidatesPredictions .thumbnail {
  border-color: #ffffff !important;
}

#blueRowHome {
  margin-right: 0px !important;
}

#searchCvRecruiters {
  background-color: #5cbcc5;
  height: 36px;
  width: 50px;
}

.containerImagePredictions {
  position: relative;
}

.containerImagePredictions img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middleTextPredictions {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerImagePredictions:hover img {
  opacity: 0.3;
}

.containerImagePredictions:hover .middleTextPredictions {
  opacity: 1 !important;
  z-index: 1000000;
}

.textPredictionImage {
  background-color: #60bcc4;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.activePage {
  font-weight: 900 !important;
  text-decoration: underline !important;
}

#candidatesCV .thumbnail .caption .btn-default {
  float: right;
  border-color: #d1d7cd !important;
}

#candidatesCV .thumbnail .caption .btn-primary {
  background-color: #5cbcc5;
  border-color: #5cbcc5;
  color: #ffffff;
}
