/* Fonts */

@font-face {
  font-family: "Avenir";
  src: url("../static/fonts/AvenirLTStd-Roman.otf");
}

* {
  font-family: "Avenir";
}

/* Navbar */

nav.navbar a {
  text-decoration: none;
  font-weight: normal;
}

nav.navbar > ul {
  list-style: none;
}

nav.navbar ul li {
  display: block;
  width: 70px;
  margin-right: 20px;
  float: left;
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration-line: underline;
}

nav.navbar ul .subgroup {
  padding-left: 0px;
}

.navbar {
  background-color: #ffffff;
  height: 80px;
}

.navbar-brand {
  padding: 0;
}
.container-navigation {
  margin-top: 10px;
}

#logo {
  height: 60px;
}

/* Home */
