/* Fonts */

@font-face {
  font-family: "Avenir";
  src: url("../static/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("../static/fonts/AvenirLTStd-Book.otf");
}

* {
  font-family: "Avenir";
}

/* Navbar */

nav.navbar a {
  text-decoration: none;
  font-weight: normal;
}

nav.navbar > ul {
  list-style: none;
}

nav.navbar ul li {
  display: block;
  width: 70px;
  margin-right: 20px;
  float: left;
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration-line: underline;
}

nav.navbar ul .subgroup {
  padding-left: 0px;
}

.navbar {
  background-color: #ffffff;
  height: 80px;
  margin-bottom: 0 !important;
}

.navbar-brand {
  padding: 0;
}
.container-navigation {
  margin-top: 10px;
}

#logo {
  height: 60px;
}

/* Home */

.headHome {
  height: 300px;
  background-image: url("../img/HeadHome.png");
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

#welcomeWordsText h4 {
  font-family: "AvenirBook";
}

#welcomeWordsIcons {
  background-color: #57bbc6;
  height: 100%;
}

.welcomeWords {
  height: 150px;
}

.shortStory {
  background-color: #414141;
  color: #ffffff;
  height: 270px;
}

#shortStoryContainer {
  height: 100%;
}

#storyImg {
  background-image: url("../img/storybg.png");
  background-size: cover;
  height: 100%;
}

#welcomeWordsText hr {
  border-top: 3px solid #414141;
}
/* Footer */
footer {
  height: 50px;
  background-color: #414141;
  color: #ffffff;
}

#imglogin,
#imgsignin {
  text-align: center;
}
