{% extends 'layout.html' %} {% block title %} Register {% endblock %} {% block
content %}
<script
  type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"
></script>
<div class="container" id="candidatesPredictions">
  <div class="row">
    <div class="col-md-6">
      <a href="/recruiterPredictionSaveCv?idPdf={{ idPdf }}">
        <div class="thumbnail">
          <div class="containerImagePredictions">
            <div class="middleTextPredictions">
              <div class="textPredictionImage">Save in PDF</div>
            </div>
            <img
              src="data:image/jpeg;base64,{{ page | safe }}"
              alt="Smiley face"
              height="42"
              width="42"
              style="border:1px solid black; height:540; width:500px"
            />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>
<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChartOfficeTools = new Chart(ctx, {
    type: "radar",
    data: {
      labels: [
        ["Dévoué", "Amical", "Honnête"],
        ["Ambitieux", "Determiné", "Responsable"],
        ["Aventureux", "Imaginatif", "Intuitif"],
        ["Calme", "Coopératif", "Charismatique"]
      ],
      datasets: [
        {
          label: "Pourcentage pour chaque personnalité ",
          lineTension: 0.1,
          backgroundColor: "rgba(204, 204, 204, 0.8)",
          borderColor: "rgba(204, 204, 204, 1)",
          pointBackgroundColor: "rgba(204, 204, 204, 1)",
          pointBorderColor: "#fff",
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(204, 204, 204, 1)",
          data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
        }
      ]
    },
    options: {
      scale: {
        angleLines: {
          display: true,
          lineWidth: 0.5,
          color: "rgba(128, 128, 128, 0.2)"
        },
        pointLabels: {
          fontSize: 14,
          fontStyle: "300",
          fontColor: "#000",
          fontFamily: "'Lato', sans-serif"
        },
        ticks: {
          beginAtZero: true,
          maxTicksLimit: 50,
          min: 0,
          max: 50,
          display: false
        }
      }
    }
  });
</script>
{% endblock %}
