{% extends 'layout.html' %}
{% set active_page = "cvgenerator" %} {% block title %} cvgenerator {% endblock %} {%
block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<script>
    function onSubmit() {
      var skills = $("input[name='skills[]']").serializeArray();
      var hobbies = $("input[name='hobbies[]']").serializeArray();
      if (skills.length != 4 || hobbies.length != 3) {
        alert("Vous devez importer une image et choisir exactement quatre compétences et exactement trois hobbies .");
        return false;
      } else {
        $("#cvgenerator").modal("show");
      }
    }
    function topScroll(){
      document.body.scrollTop = 150; // For Safari
      document.documentElement.scrollTop = 150; // For Chrome, Firefox, IE and Opera
    }

  </script>
<div
  class="image-container set-full-height" 
  style="background-image: url('static/img/bg.jpg')"
>  <div class="container" id="topPage">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="orange" id="wizardProfile">
            <form action="/forward/" method="post" id="formwizzard" enctype="multipart/form-data">
              <div class="wizard-header">
                <h3>
                  <b>GENERATE</b> YOUR CV <br />
                  <small
                    >We need informations to give to potential recruiters and to generate your cv in pdf</small
                  >
                </h3>
              </div>

              <div class="wizard-navigation">
                <ul>
                  <li><a href="#about" data-toggle="tab">About you</a></li>
                  <li><a href="#formation" data-toggle="tab">Formations</a></li>
                  <li>
                    <a href="#experience" data-toggle="tab">Experiences</a>
                  </li>
                  <li><a href="#language" data-toggle="tab">Language</a></li>
                  <li><a href="#skills" data-toggle="tab">Skills</a></li>
                  <li><a href="#hobbies" data-toggle="tab">Hobbies</a></li>
                  <li><a href="#contact" data-toggle="tab">Contact</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="about">
                  <div class="row">
                    <h4 class="info-text">
                      Let's start with the basic information (with validation)
                    </h4>
                    <div class="col-sm-4 col-sm-offset-1">
                      <div class="picture-container">
                        <div class="picture">
                          <img
                            src="static/img/default-avatar.png"
                            class="picture-src"
                            id="wizardPicturePreview"
                            title=""
                            
                          />
                          <input type="file" id="wizard-picture" name="img" class="imguser" accept=".png, .jpg, .jpeg"  />
                        </div>
                        <h6>Choose Picture</h6>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>First Name <small>(required)</small></label>
                        <input
                          name="firstname"
                          type="text"
                          class="form-control"
                          placeholder="Firstname"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label>Last Name <small>(required)</small></label>
                        <input
                          name="lastname"
                          type="text"
                          class="form-control"
                          placeholder="Lastname"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="form-group">
                        <label>CV title <small>(required)</small></label>
                        <input
                          name="title"
                          type="text"
                          class="form-control"
                          placeholder="Title"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="form-group">
                        <label>CV Resume <small>(required)</small></label>
                        <textarea
                          name="resume"
                          maxlength="387"
                          type="text"
                          class="form-control longText"
                          placeholder="Resume"
                          aria-required="true"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label>Your application domain</label>
                            <div class="radio">
                                <label>
                                  <input type="radio" name="domain" value="Agriculture et agroalimentaire">
                                  Agriculture et agroalimentaire
                                </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="domain" value="Industrie">
                                  Industrie
                                </label>
                              </div>
                              <div class="radio">
                                  <label>
                                    <input type="radio" name="domain" value="Énergie">
                                    Énergie
                                  </label>
                              </div>
                              <div class="radio">
                                <label>
                                  <input type="radio" name="domain" value="Commerce et artisanat">
                                      Commerce et artisanat
                                </label>
                              </div>
                              <div class="radio">
                                  <label>
                                    <input type="radio" name="domain" value="Tourisme">
                                      Tourisme
                                  </label>
                              </div>
                              <div class="radio">
                                    <label>
                                      <input type="radio" name="domain" value="Télécoms et Internet">
                                        Télécoms et Internet
                                    </label>
                              </div>
                              <div class="radio">
                                   <label>
                                       <input type="radio" name="domain" value="Recherche">
                                          Recherche
                                   </label>
                               </div>
                               <div class="radio">
                                      <label>
                                        <input type="radio" name="domain" value="Finance et assurance">
                                          Finance et assurance
                                      </label>
                              </div>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="tab-pane" id="formation">
                  <h4 class="info-text">
                    What formations have you been following?
                  </h4>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <div class="form-group">
                              <h5 class="info-text">First formation</h5>
                            <label
                              >Title of your first formation
                              <small>(required)</small></label
                            >
                            <input
                              name="form1Title"
                              type="text"
                              class="form-control"
                              placeholder="Title"
                              required
                            />
                          </div>
                          <div class="form-group col-sm-6" id="dateFormsLeft"> <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            <input class="form-control" id="date" name="form1Debut" placeholder="MM/DD/YYY" type="text" required/>
                          </div>
                          <div class="form-group col-sm-6" id="dateFormsRight"> <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            <input class="form-control" id="date" name="form1Fin" placeholder="MM/DD/YYY" type="text" required/>
                          </div>
                          <div class="form-group formation_resume">
                            <label
                              >Resume of your first formation
                              <small>(required)</small></label
                            >
                            <textarea
                              name="form1Text"
                              type="text"
                              class="form-control longText"
                              placeholder="Resume"
                              required
                              maxlength="387"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <div class="form-group">
                              <h5 class="info-text">Second formation</h5>
                            <label
                              >Title of your second formation
                              </label
                            >
                            <input
                              name="form2Title"
                              type="text"
                              class="form-control"
                              placeholder="Title"
                            />
                          </div>
                          <div class="form-group col-sm-6" id="dateFormsLeft"> <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            <input class="form-control" id="date" name="form2Debut" placeholder="MM/DD/YYY" type="text"/>
                          </div>
                          <div class="form-group col-sm-6" id="dateFormsRight"> <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            <input class="form-control" id="date" name="form2Fin" placeholder="MM/DD/YYY" type="text"/>
                          </div>
                          <div class="form-group formation_resume">
                            <label
                              >Resume of your second formation
                              </label
                            >
                            <textarea
                              name="form2Text"
                              type="text"
                              class="form-control longText"
                              placeholder="Resume"
                              maxlength="387"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <div class="form-group">
                          <h5 class="info-text">Third formation</h5>
                        <label
                          >Title of your third formation
                          </label
                        >
                        <input
                          name="form3Title"
                          type="text"
                          class="form-control"
                          placeholder="Title"
                        />
                      </div>
                      <div class="form-group col-sm-6" id="dateFormsLeft"> <!-- Date input -->
                        <label class="control-label" for="date">Date</label>
                        <input class="form-control" id="date" name="form3Debut" placeholder="MM/DD/YYY" type="text"/>
                      </div>
                      <div class="form-group col-sm-6" id="dateFormsRight"> <!-- Date input -->
                        <label class="control-label" for="date">Date</label>
                        <input class="form-control" id="date" name="form3Fin" placeholder="MM/DD/YYY" type="text"/>
                      </div>
                      <div class="form-group formation_resume">
                        <label
                          >Resume of your third formation
                          </label
                        >
                        <textarea
                          name="form3Text"
                          type="text"
                          class="form-control longText"
                          placeholder="Resume"
                          maxlength="387"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="experience">
                    <h4 class="info-text">
                        What are your main experiences ?
                    </h4>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <h5 class="info-text">First experience</h5>
                              <label
                                >Title of your first experience
                                <small>(required)</small></label
                              >
                              <input
                                name="exp1Title"
                                type="text"
                                class="form-control"
                                placeholder="Title"
                                required
                              />
                            </div>
                            <div class="form-group col-sm-6" id="dateFormsLeft"> <!-- Date input -->
                              <label class="control-label" for="date">Date</label>
                              <input class="form-control" id="date" name="exp1Debut" placeholder="MM/DD/YYY" type="text" required/>
                            </div>
                            <div class="form-group col-sm-6" id="dateFormsRight"> <!-- Date input -->
                              <label class="control-label" for="date">Date</label>
                              <input class="form-control" id="date" name="exp1Fin" placeholder="MM/DD/YYY" type="text" required/>
                            </div>
                            <div class="form-group formation_resume">
                              <label
                                >Resume of your first experience
                                <small>(required)</small></label
                              >
                              <textarea
                                name="exp1Text"
                                type="text"
                                class="form-control longText"
                                placeholder="Resume"
                                required
                                maxlength="387"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <h5 class="info-text">Second experience</h5>
                              <label
                                >Title of your second experience
                                </label
                              >
                              <input
                                name="exp2Title"
                                type="text"
                                class="form-control"
                                placeholder="Title"
                              />
                            </div>
                            <div class="form-group col-sm-6" id="dateFormsLeft"> <!-- Date input -->
                              <label class="control-label" for="date">Date</label>
                              <input class="form-control" id="date" name="exp2Debut" placeholder="MM/DD/YYY" type="text"/>
                            </div>
                            <div class="form-group col-sm-6" id="dateFormsRight"> <!-- Date input -->
                              <label class="control-label" for="date">Date</label>
                              <input class="form-control" id="date" name="exp2Fin" placeholder="MM/DD/YYY" type="text"/>
                            </div>
                            <div class="form-group formation_resume">
                              <label
                                >Resume of your second formation
                                </label
                              >
                              <textarea
                                name="exp2Text"
                                type="text"
                                class="form-control longText"
                                placeholder="Resume"
                                maxlength="387"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <h5 class="info-text">Third formation</h5>
                          <label
                            >Title of your third formation
                            </label
                          >
                          <input
                            name="exp3Title"
                            type="text"
                            class="form-control"
                            placeholder="Title"
                          />
                        </div>
                        <div class="form-group col-sm-6" id="dateFormsLeft"> <!-- Date input -->
                          <label class="control-label" for="date">Date</label>
                          <input class="form-control" id="date" name="exp3Debut" placeholder="MM/DD/YYY" type="text"/>
                        </div>
                        <div class="form-group col-sm-6" id="dateFormsRight"> <!-- Date input -->
                          <label class="control-label" for="date">Date</label>
                          <input class="form-control" id="date" name="exp3Fin" placeholder="MM/DD/YYY" type="text"/>
                        </div>
                        <div class="form-group formation_resume">
                          <label
                            >Resume of your third experience
                            </label
                          >
                          <textarea
                            name="exp3Text"
                            type="text"
                            class="form-control longText"
                            placeholder="Resume"
                            maxlength="387"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="tab-pane" id="language">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="info-text">Which languages do you speak?</h4>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>First Language</label><br />
                        <select name="language1" class="form-control">
                          <option value="francais"> Français </option>
                          <option value="anglais"> Anglais </option>
                          <option value="espagnol"> Espagnol </option>
                          <option value="allemand"> Allemand </option>
                          <option value="chinois"> Chinois </option>
                          <option value="italien"> Italien </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Second language</label><br />
                        <select name="language2" class="form-control">
                          <option value="francais"> Français </option>
                          <option value="anglais"> Anglais </option>
                          <option value="espagnol"> Espagnol </option>
                          <option value="allemand"> Allemand </option>
                          <option value="chinois"> Chinois </option>
                          <option value="italien"> Italien </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Third language</label><br />
                        <select name="language3" class="form-control">
                          <option value="francais"> Français </option>
                          <option value="anglais"> Anglais </option>
                          <option value="espagnol"> Espagnol </option>
                          <option value="allemand"> Allemand </option>
                          <option value="chinois"> Chinois </option>
                          <option value="italien"> Italien </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="skills">
                  <h4 class="info-text">What are your skills? (choose exactly 4)</h4>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="informatique" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Informatique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="cognitique" />
                          <div class="icon">
                            <i class="fa fa-universal-access"></i>
                          </div>
                          <h6>Cognitique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="programmation" />
                          <div class="icon">
                            <i class="fa fa-code"></i>
                          </div>
                          <h6>Programmation</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="skills[]" value="facteur humain" />
                            <div class="icon">
                              <i class="fa fa-users"></i>
                            </div>
                            <h6>Facteur Humain
                            </h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="choice" data-toggle="wizard-checkbox">
                              <input type="checkbox" name="skills[]" value="ccu" />
                              <div class="icon">
                                <i class="fa fa-deaf"></i>
                              </div>
                              <h6>CCU</h6>
                            </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="choice" data-toggle="wizard-checkbox">
                                <input type="checkbox" name="skills[]" value="développement web" />
                                <div class="icon">
                                  <i class="fa fa-keyboard-o"></i>
                                </div>
                                <h6>Développement Web
                                </h6>
                              </div>
                            </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="communication" />
                          <div class="icon">
                            <i class="fa fa-comment-o"></i>
                          </div>
                          <h6>Communication</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="skills[]" value="ia" />
                            <div class="icon">
                              <i class="fa fa-cogs"></i>
                            </div>
                            <h6>IA</h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="skills[]" value="bureautique" />
                            <div class="icon">
                              <i class="fa fa-pencil"></i>
                            </div>
                            <h6>Bureautique
                            </h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="skills[]" value="tests utilisateurs" />
                            <div class="icon">
                              <i class="fa fa-user-circle"></i>
                            </div>
                            <h6>Tests utilisateurs
                            </h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="skills[]" value="gestion de base de données" />
                            <div class="icon">
                              <i class="fa fa-database"></i>
                            </div>
                            <h6>Gestion de base de données
                            </h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="skills[]" value="imagerie numérique" />
                            <div class="icon">
                              <i class="fa fa-camera"></i>
                            </div>
                            <h6>Imagerie numérique
                            </h6>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="hobbies">
                  <h4 class="info-text">What are your hobbies? (choose exactly 3)</h4>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="sports extrêmes" />
                          <div class="icon">
                            <i class="fa fa-bicycle"></i>
                          </div>
                          <h6>sports extrêmes</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="art" />
                          <div class="icon">
                            <i class="fa fa-paint-brush"></i>
                          </div>
                          <h6>art</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="jeux-vidéo" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>jeux vidéo</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="hobbies[]" value="philosophie" />
                            <div class="icon">
                              <i class="fa fa-book"></i>
                            </div>
                            <h6>Philosophie</h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="hobbies[]" value="théâtre" />
                            <div class="icon">
                              <i class="fa fa-university"></i>
                            </div>
                            <h6>Théâtre</h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="hobbies[]" value="volontariat" />
                            <div class="icon">
                              <i class="fa fa-life-ring"></i>
                            </div>
                            <h6>Volontariat</h6>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="photographie" />
                          <div class="icon">
                            <i class="fa fa-camera-retro"></i>
                          </div>
                          <h6>Photographie</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="audiovisuel" />
                          <div class="icon">
                            <i class="fa fa-file-image-o"></i>
                          </div>
                          <h6>Audiovisuel</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="hobbies[]" value="lecture" />
                            <div class="icon">
                              <i class="fa fa-terminal"></i>
                            </div>
                            <h6>Lecture</h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="hobbies[]" value="voyages" />
                            <div class="icon">
                              <i class="fa fa-tree"></i>
                            </div>
                            <h6>Voyage</h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="choice" data-toggle="wizard-checkbox">
                            <input type="checkbox" name="hobbies[]" value="musique" />
                            <div class="icon">
                              <i class="fa fa-music"></i>
                            </div>
                            <h6>Musique</h6>
                          </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="choice" data-toggle="wizard-checkbox">
                              <input type="checkbox" name="hobbies[]" value="danse" />
                              <div class="icon">
                                <i class="fa fa-street-view"></i>
                              </div>
                              <h6>Danse</h6>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="contact">
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="info-text"> Informations about your contact </h4>
                      </div>
                      <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                           <label>Your phone number</label>
                           <input type="number" class="form-control" placeholder="Phone number" name="phoneNumber" required>
                         </div>
                   </div>
                   <div class="col-sm-5">
                        <div class="form-group">
                           <label>Your email</label>
                           <input type="email" class="form-control" placeholder="Email" name="email" required>
                         </div>
                   </div>
                      <div class="col-sm-5 col-sm-offset-1">
                           <div class="form-group">
                              <label>Title of your website</label>
                              <input type="text" class="form-control" placeholder="Website title" name="websiteTitle">
                            </div>
                      </div>
                      <div class="col-sm-5">
                           <div class="form-group">
                              <label>Link of your website</label>
                              <input type="text" class="form-control" placeholder="Website link" name="websiteLink">
                            </div>
                      </div>
                      <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                           <label>Title of your 1st social media</label>
                           <input type="text" class="form-control" placeholder="First Social Media Title" name="sm1Title">
                         </div>
                   </div>
                   <div class="col-sm-5">
                        <div class="form-group">
                           <label>Link of your first social media</label>
                           <input type="text" class="form-control" placeholder="First Social Media Link" name="sm1Link">
                         </div>
                   </div>
                   <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                       <label>Title of your 2nd social media</label>
                       <input type="text" class="form-control" placeholder="Second Social Media Title" name="sm2Title">
                     </div>
               </div>
               <div class="col-sm-5">
                    <div class="form-group">
                       <label>Link of your 2nd social media</label>
                       <input type="text" class="form-control" placeholder="Second Social Media Link" name="sm2Link">
                     </div>
               </div>
              </div>
              </div>

              <div class="wizard-footer height-wizard">
                <div class="pull-right">
                  <input
                    type="button"
                    class="btn btn-next btn-fill btn-warning btn-wd btn-sm"
                    name="next"
                    value="Next"
                    onclick="return topScroll()"

                  />
                  <input
                    type="submit"
                    class="btn btn-finish btn-fill btn-warning btn-wd btn-sm"
                    name="forwardBtn"
                    value="Finish"
                    onclick="return onSubmit()"
                  />
                </div>


                <div class="pull-left">
                  <input
                    type="button"
                    class="btn btn-previous btn-fill btn-default btn-wd btn-sm"
                    name="previous"
                    value="Previous"
                    onclick="return topScroll()"
                  />
                </div>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cvgenerator" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                <p>Votre cv est en train d'être généré</p> 
            </div>
            <div class="row">
              <div class="col-md-offset-5 col-md-2">
                  <img src="../static/img/loader.gif" alt="loader gif" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
