{% extends 'layout.html' %} {% block title %} cvgenerator {% endblock %} {%
block content %}

<div
  class="image-container set-full-height"
  style="background-image: url('static/img/bg.jpg')"
>
  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="orange" id="wizardProfile">
            <form action="/forward/" method="post">
              <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

              <div class="wizard-header">
                <h3>
                  <b>GENERATE</b> YOUR CV <br />
                  <small
                    >TWe need informations to give to potential recruiters and to generate your cv in pdf</small
                  >
                </h3>
              </div>

              <div class="wizard-navigation">
                <ul>
                  <li><a href="#about" data-toggle="tab">About you</a></li>
                  <li><a href="#formation" data-toggle="tab">Formations</a></li>
                  <li>
                    <a href="#experience" data-toggle="tab">Experiences</a>
                  </li>
                  <li><a href="#language" data-toggle="tab">Language</a></li>
                  <li><a href="#skills" data-toggle="tab">Skills</a></li>
                  <li><a href="#hobbies" data-toggle="tab">Hobbies</a></li>
                  <li><a href="#contact" data-toggle="tab">Contact</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="about">
                  <div class="row">
                    <h4 class="info-text">
                      Let's start with the basic information (with validation)
                    </h4>
                    <div class="col-sm-4 col-sm-offset-1">
                      <div class="picture-container">
                        <div class="picture">
                          <img
                            src="static/img/default-avatar.png"
                            class="picture-src"
                            id="wizardPicturePreview"
                            title=""
                            name="img"
                          />
                          <input type="file" id="wizard-picture" />
                        </div>
                        <h6>Choose Picture</h6>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>First Name <small>(required)</small></label>
                        <input
                          name="firstname"
                          type="text"
                          class="form-control"
                          placeholder="Andrew..."
                        />
                      </div>
                      <div class="form-group">
                        <label>Last Name <small>(required)</small></label>
                        <input
                          name="lastname"
                          type="text"
                          class="form-control"
                          placeholder="Smith..."
                        />
                      </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="form-group">
                        <label>CV title <small>(required)</small></label>
                        <input
                          name="title"
                          type="text"
                          class="form-control"
                          placeholder="Title of your cv"
                        />
                      </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="form-group">
                        <label>CV Resume <small>(required)</small></label>
                        <input
                          name="resume"
                          type="text"
                          class="form-control"
                          placeholder="Resume of your cv"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="formation">
                  <h4 class="info-text">
                    What formations have you been following?
                  </h4>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label
                              >Title of your first formation
                              <small>(required)</small></label
                            >
                            <input
                              name="form1Title"
                              type="text"
                              class="form-control"
                              placeholder="Andrew..."
                            />
                          </div>
                          <div class="form-group">
                            <label
                              >Resume of your first formation
                              <small>(required)</small></label
                            >
                            <input
                              name="form1Text"
                              type="text"
                              class="form-control"
                              placeholder="Smith..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label
                              >Title of your second formation
                              <small>(required)</small></label
                            >
                            <input
                              name="form2Title"
                              type="text"
                              class="form-control"
                              placeholder="Andrew..."
                            />
                          </div>
                          <div class="form-group">
                            <label
                              >Resume of your second formation
                              <small>(required)</small></label
                            >
                            <input
                              name="form2Text"
                              type="text"
                              class="form-control"
                              placeholder="Smith..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label
                          >Title of your third formation
                          <small>(required)</small></label
                        >
                        <input
                          name="form3Title"
                          type="text"
                          class="form-control"
                          placeholder="Andrew..."
                        />
                      </div>
                      <div class="form-group">
                        <label
                          >Resume of your third formation
                          <small>(required)</small></label
                        >
                        <input
                          name="form3Text"
                          type="text"
                          class="form-control"
                          placeholder="Smith..."
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="experience">
                  <h4 class="info-text">
                    What are your main experiences ?
                  </h4>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label
                              >Title of your first experience
                              <small>(required)</small></label
                            >
                            <input
                              name="exp1Title"
                              type="text"
                              class="form-control"
                              placeholder="Andrew..."
                            />
                          </div>
                          <div class="form-group">
                            <label
                              >Resume of your first experience
                              <small>(required)</small></label
                            >
                            <input
                              name="exp1Resume"
                              type="text"
                              class="form-control"
                              placeholder="Smith..."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label
                              >Title of your second experience
                              <small>(required)</small></label
                            >
                            <input
                              name="exp2Title"
                              type="text"
                              class="form-control"
                              placeholder="Andrew..."
                            />
                          </div>
                          <div class="form-group">
                            <label
                              >Resume of your second experience
                              <small>(required)</small></label
                            >
                            <input
                              name="exp2Resume"
                              type="text"
                              class="form-control"
                              placeholder="Smith..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label
                          >Title of your third experience
                          <small>(required)</small></label
                        >
                        <input
                          name="exp3Title"
                          type="text"
                          class="form-control"
                          placeholder="Andrew..."
                        />
                      </div>
                      <div class="form-group">
                        <label
                          >Resume of your third experience
                          <small>(required)</small></label
                        >
                        <input
                          name="exp3Resume"
                          type="text"
                          class="form-control"
                          placeholder="Smith..."
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="language">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="info-text">Which languages do you speak?</h4>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>First Language</label><br />
                        <select name="language1" class="form-control">
                          <option value="francais"> Français </option>
                          <option value="anglais"> Anglais </option>
                          <option value="espagnol"> Espagnol </option>
                          <option value="allemand"> Allemand </option>
                          <option value="chinois"> Chinois </option>
                          <option value="italien"> Italien </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Second language</label><br />
                        <select name="language2" class="form-control">
                          <option value="francais"> Français </option>
                          <option value="anglais"> Anglais </option>
                          <option value="espagnol"> Espagnol </option>
                          <option value="allemand"> Allemand </option>
                          <option value="chinois"> Chinois </option>
                          <option value="italien"> Italien </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Third language</label><br />
                        <select name="language3" class="form-control">
                          <option value="francais"> Français </option>
                          <option value="anglais"> Anglais </option>
                          <option value="espagnol"> Espagnol </option>
                          <option value="allemand"> Allemand </option>
                          <option value="chinois"> Chinois </option>
                          <option value="italien"> Italien </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="skills">
                  <h4 class="info-text">What are your skills? (checkboxes)</h4>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Informatique" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Informatique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Travail d’équipe" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Travail d’équipe
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Organisation" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Organisation</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Electronique" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Electronique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Cognitique" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Cognitique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Développement" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Développement</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Design GRaphique" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Design GRaphique
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Linguistique" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Linguistique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Facteur Humain" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Facteur Humain
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="CCU" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>CCU</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Développement Web" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Développement Web
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Communication" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Communication</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Accessibilité" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Accessibilité</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="IA" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>IA</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Multimédia" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Multimédia</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Bureautique" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Bureautique
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Conception IHM" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Conception IHM
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Tests utilisateurs" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Tests utilisateurs
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Audiovisuel" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Audiovisuel</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Analyse du besoin" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Analyse du besoin</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Protocole expérimental" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Protocole expérimental
                          </h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="skills[]" value="Cobotique" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Cobotique
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="hobbies">
                  <h4 class="info-text">What are your hobbies? (checkboxes)</h4>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="sports extrêmes" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>sports extrêmes</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="sports d’équipe" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>sports d’équipe</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="yoga" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>yoga</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Cinéma" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Cinéma</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="art" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>art</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="jeux vidéo" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>jeux vidéo</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="arts martiaux" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>arts martiaux</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Philosophie" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Philosophie</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Théâtre" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Théâtre</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Ecriture" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Ecriture</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Volontariat" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Volontariat</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Photographie" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Photographie</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Jardinage" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Jardinage</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Lecture" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Lecture</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Voyage" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Voyage</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Musique" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Musique</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Astronomie" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Astronomie</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Poker" />
                          <div class="icon">
                            <i class="fa fa-laptop"></i>
                          </div>
                          <h6>Poker</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Natation" />
                          <div class="icon">
                            <i class="fa fa-pencil"></i>
                          </div>
                          <h6>Natation</h6>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-checkbox">
                          <input type="checkbox" name="hobbies[]" value="Danse" />
                          <div class="icon">
                            <i class="fa fa-terminal"></i>
                          </div>
                          <h6>Danse</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="contact">
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="info-text"> Informations about your contact </h4>
                      </div>
                      <div class="col-sm-7 col-sm-offset-1">
                        <div class="form-group">
                           <label>Your phone number</label>
                           <input type="number" class="form-control" placeholder="5h Avenue" name="phoneNumber">
                         </div>
                   </div>
                   <div class="col-sm-3">
                        <div class="form-group">
                           <label>your email</label>
                           <input type="email" class="form-control" placeholder="242" name="email">
                         </div>
                   </div>
                      <div class="col-sm-7 col-sm-offset-1">
                           <div class="form-group">
                              <label>Title of your website</label>
                              <input type="text" class="form-control" placeholder="5h Avenue" name="websiteTitle">
                            </div>
                      </div>
                      <div class="col-sm-3">
                           <div class="form-group">
                              <label>Link of your website</label>
                              <input type="text" class="form-control" placeholder="242" name="websiteLink">
                            </div>
                      </div>
                      <div class="col-sm-7 col-sm-offset-1">
                        <div class="form-group">
                           <label>Title of your 1st social media</label>
                           <input type="text" class="form-control" placeholder="5h Avenue" name="sm1Title">
                         </div>
                   </div>
                   <div class="col-sm-3">
                        <div class="form-group">
                           <label>Link of your first social media</label>
                           <input type="text" class="form-control" placeholder="242" name="sm1Link">
                         </div>
                   </div>
                   <div class="col-sm-7 col-sm-offset-1">
                    <div class="form-group">
                       <label>Title of your 2nd social media</label>
                       <input type="text" class="form-control" placeholder="5h Avenue" name="sm2Title">
                     </div>
               </div>
               <div class="col-sm-3">
                    <div class="form-group">
                       <label>Link of your 2nd social media</label>
                       <input type="text" class="form-control" placeholder="242" name="sm2Link">
                     </div>
               </div>
               <div class="col-sm-7 col-sm-offset-1">
                  <div class="form-group">
                     <label>Do you want to generate you CV in PDF ?</label>
                     <label class="radio-inline"><input type="radio" name="status" value="Yes" checked>Yes</label>
                     <label class="radio-inline"><input type="radio" name="status" value="No">No</label>                   </div>
             </div>
              </div>
              </div>

              <div class="wizard-footer height-wizard">
                <div class="pull-right">
                  <input
                    type="button"
                    class="btn btn-next btn-fill btn-warning btn-wd btn-sm"
                    name="next"
                    value="Next"
                  />
                  <input
                    type="submit"
                    class="btn btn-finish btn-fill btn-warning btn-wd btn-sm"
                    name="forwardBtn"
                    value="Finish"
                  />
                </div>


                <div class="pull-left">
                  <input
                    type="button"
                    class="btn btn-previous btn-fill btn-default btn-wd btn-sm"
                    name="previous"
                    value="Previous"
                  />
                </div>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
{% endblock %}
