{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block
content %}

<div class="headHome">
  <div class="container">
    <div id="h2TextHome">
      <h2>CREATE YOUR CV IN A FEW MINUTES</h2>
      <h2 id="h2SendText">AND SEND THEM TO RECRUITERS</h2>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-4"><hr /></div>
      <div id="lineImgHome" class="col-md-2">
        <img src="../static/img/point.png" alt="" />
      </div>
      <div class="col-md-4"><hr /></div>
    </div>
    <div id="testHeadHome">
      <p>Login to have more informations and to contact recruiters</p>
    </div>
    <div>
      {% if (session['status']=="1") %}
      <a href="/cvgenerator">
        <button type="button" class="btn btn-info" id="buttonLoginHome">
          Génerez votre CV !
        </button>
      </a>
      {% elif (session['status']=="0") %}
      <a href="/recruitersAllCv">
        <button type="button" class="btn btn-info" id="buttonLoginHome">
          Trouvez le candidat parfait !
        </button>
      </a>
      {% else %}
      <a href="{{ url_for('login') }}">
        <button type="button" class="btn btn-info" id="buttonLoginHome">
          Login
        </button>
      </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="welcomeWords">
  <div class="fluid-container">
    <div class="row" id="blueRowHome">
      <div id="welcomeWordsText" class="col-md-6">
        <h4>Welcome in our website</h4>
        <div class="col-md-2"><hr /></div>
        <div class="col-md-10">
          <p>
            Batnae municipium in Anthemusia conditum Macedonum manu priscorum ab
            Euphrate flumine brevi spatio disparatur, refertum mercatoribus
            opulentis, ubi annua sollemnitate prope Septembris initium mensis ad
            nundinas magna promiscuae fortunae convenit multitudo ad commercanda
            quae Indi mittunt et Seres aliaque plurima vehi terra marique
            consueta.
          </p>
        </div>
      </div>

      <div id="welcomeWordsIcons" class="col-md-6">
        <div class="fluid-container">
          <div class="row" id="rowIcones">
            <div class="col-md-4">
              <img
                src="../static/img/heart.png"
                alt=""
                style="width:150px; height:150px; float: left;"
              />
            </div>
            <div class="col-md-4">
              <img
                src="../static/img/cv.png"
                alt=""
                style="width:150px; height:150px;float: left;"
              />
            </div>
            <div class="col-md-4">
              <img
                src="../static/img/protect.png"
                alt=""
                style="width:150px; height:150px;float: left;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="shortStory">
  <div class="container" id="shortStoryContainer">
    <div class="row">
      <div class="col-md-offset-2 col-md-5" id="storyImg">
        <H3>WELCOME IN OUR WEBSITE</H3>
        <h4>Welcome in our website</h4>
        <div class="row">
          <div class="col-md-offset-1 col-md-4"><hr /></div>
          <div id="lineImgHome" class="col-md-2">
            <img src="../static/img/point.png" alt="" />
          </div>
          <div class="col-md-4"><hr /></div>
        </div>
        <p>Login to have more informations and contact recruiters</p>
      </div>
      <div class="col-md-5" id="storyText">
        <div class="row">
          <h4>WELCOME IN OUR WEBSITE</h4>
          <div class="col-md-2"><hr /></div>
          <div class="col-md-10">
            <p>
              Batnae municipium in Anthemusia conditum Macedonum manu priscorum
              ab Euphrate flumine brevi spatio disparatur, refertum mercatoribus
              opulentis, ubi annua sollemnitate prope Septembris initium mensis
              ad nundinas magna promiscuae fortunae convenit multitudo ad
              commercanda quae Indi mittunt et Seres aliaque plurima vehi terra
              marique consueta.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homeQuote">
  <div class="container">
    <div class="col-md-offset-3 col-md-6">
      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <hr style="background-color:#444440" />
        </div>
        <div id="lineImgHome" class="col-md-2">
          <img src="../static/img/roundBrown.png" alt="" />
        </div>
        <div class="col-md-4">
          <hr style="background-color:#444440" />
        </div>
      </div>
      <p id="quote">
        "Engagement has to be human, because people trust people more than
        brands"
      </p>
      <p id="annaAllonso">Ana Allonso</p>
    </div>
  </div>
</div>

{% endblock %}
