{% extends 'layout.html' %} {% block title %} Register {% endblock %} {% block
content %}
<div class="container" id="recruitersCV">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
              <form
              style="display: inline;"
              action="{{ url_for('search') }}"
              method="post"
              name="search"
              class="form form-horizontal"
            >
                <div class="form-group">
                  {{ g.search_form.hidden_tag()
                  }}{{ g.search_form.search(class_="form-control")}}
                </div>
              </div>
              <button type="submit" id="searchCvRecruiters"><i class="fa fa-search"></i></button>


            </form>  
          </div>
          
          {%for i in range(0, len)%}
          <div class="col-md-3">
            <div class="thumbnail">
                <img
        src="data:image/jpeg;base64,{{ images[i] | safe }}"
        alt="Smiley face"
        height="42"
        width="42"
        style="border:1px solid black; height:270; width:250px"
      />
              <div class="caption">
                  <p id="titleAllCandidates">{{ title[i] }}</p>
                  <a href="/myAction?idPdf={{ idPdf[i] }}" class="btn btn-primary" role="button">Voir le CV</a>
                </p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>

{% endblock %}

